.popup_wrapper{
    position: fixed;
    max-width: 650px;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 25px 45px 23px;
    animation: opacity 0.3s ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h3{
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #0D606F;
        text-align: center;
        margin-bottom: 30px;
    }

    .popup_btn_wrapper{
        margin: 0 auto 22px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .popup_btn{
        padding: 15px 0;
        border: none;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .popup_btn:hover{
        cursor: pointer;
        opacity: 0.8;
    }

    .facebook-btn{
        background: #1877F2;
        color: #FFFFFF;
    }

    .google-btn{
        background: #FFFFFF;
        color: #0D606F;
    }

    .popup_input_wrapper{
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }

    input{
        height: 54px;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        font-size: 20px;
    }

    label{
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0D606F;
    }

    .sign-btn{
        background: #0D606F;
        color: #FFFFFF;
        margin-top: 5px;
        height: 54px;

    }

    a{
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #0D606F; 
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    }

    h6{
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: rgba(13, 96, 111, 0.5);
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    }

    .popup_register_wrapper{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    hr{
    margin-top: 14px;
    }

    .forgot-password{
        text-align: center;
        padding-bottom: 12px;
    }
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1;}
}

@media (max-width: 425px){
    .popup_wrapper{

        max-width: 360px;
        width: 100%;
        
        h3{
            font-size: 25px;
            margin-bottom: 15px;
        }
    
        .popup_btn_wrapper{
            margin: 0 auto 11px;
            gap: 10px;
        }
    
        .popup_btn{
            padding: 8px 0;
            gap: 8px;
        }
    
        .popup_input_wrapper{
            margin: 5px auto;
        }
    
        input{
            height: 54px;
            margin-bottom: 10px;
        }
    
        .popup_register_wrapper{
            margin-top: 10px;
        }
    
        hr{
        margin-top: 7px;
        }
    
        .forgot-password{
            text-align: center;
            padding-bottom: 6px;
        }
    }
}

